@page "/user/create"

<h3>Добавление нового пользователя</h3>
<EditForm Model="@Form" OnValidSubmit="@CreateUser">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Имя :</label>
        <div>
            <InputText @bind-Value="@Form.Name" />
            <ValidationMessage For="@(() => Form.Name)" />
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Почта :</label>
            <div>
                <InputText @bind-Value="@Form.Email" />
                <ValidationMessage For="@(() => Form.Email)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Роль :</label>
            <div>
                <InputSelect @bind-Value="@Form.Role">
                    @if (Roles != null)
                    {
                        @foreach (var role in Roles)
                        {
                            <option value=@role.Id>@role.Name</option>
                        }
                    }
                    else
                    {
                        <option>Загрузка</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => Form.Role)"/>
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Пароль :</label>
            <div>
                <InputText @bind-Value="@Form.Password" />
                <ValidationMessage For="@(() => Form.Password)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Номер телефона :</label>
            <div>
                <InputText @bind-Value="@Form.Phone" />
                <ValidationMessage For="@(() => Form.Phone)" />
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">
        Добавить
    </button>
</EditForm>