@page "/user/edit/{UserId}"

<h3>Редактирование пользователя @UserId.ToString()</h3>
@if (_requestStatus == "")
{
    <br>
    <EditForm Model="@_editUsersName" OnValidSubmit="@UpdateUsersName">
        <DataAnnotationsValidator />
        <div class="form-group" style="display: ruby">
            <label>Имя :</label>
            <div>
                <InputText @bind-Value="@_editUsersName.Name" />
                <ValidationMessage For="@(() => _editUsersName.Name)" />
            </div>
            <button type="submit" class="btn btn-success">
                Добавить
            </button>
        </div>
    </EditForm>
    <br>
    <EditForm Model="@_editUsersEmail" OnValidSubmit="@UpdateUsersEmail">
        <DataAnnotationsValidator />
        <div class="form-group" style="display: ruby">
            <label>Имя :</label>
            <div>
                <InputText @bind-Value="@_editUsersEmail.Email" />
                <ValidationMessage For="@(() => _editUsersEmail.Email)" />
            </div>
            <button type="submit" class="btn btn-success">
                Добавить
            </button>
        </div>
    </EditForm>
}
else
{
    <p><em>@_requestStatus</em></p>
    
}